<div id="case-and-wildcards-search-help">
<hr/>
<h4>Case and Wildcards in Searches</h4>
    <p/>Editor searches are all <strong>case-insensitive</strong>.
    <p/>Editor searches on text fields allow you to add <strong>wildcards</strong>. e.g. "*"
    <p/>Fields for which the Editor adds its own wildcards are noted and an "-exact" version of the field is provided that adds no wildcards.
    <p/>You can add your own wildcards to "-exact" fields.
  <br>
<h4>Limit and Offset in Searches</h4>
   <p/><code/>limit: integer</code> specifies a maximum number of records to be returned
   <p/><code/>offset: integer</code> specifies a starting point for the set of results (default starting point is 1)
  <br>
  <br>
</div>

