<div id="example-search-user" class="example-search-tab">
<h4>User search examples</h4>
<br>
<h5 class="">List users</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Users', search_string: "*",explanation: %Q(All users, limited by default to the first 100, ordered by name.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td>
      <%= link_to(val[:explanation], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
  </tr>
  <% end %>
</table>
