<div class="focus-details unsaved-record">
  <div id="new-loader-name-form-container" class="new-record-form-container">
            
    <h4>New Loader Name In-Batch-Note</h4>

    <hr>
    <%= render partial: 'loader/names/tabs/forms/form_for_in_batch_note', locals: {loader_name: @loader_name, record_types: ['in-batch-note']} %>
  </div>
</div>
