<div class="focus-details unsaved-record">
  <div id="new-loader-name-form-container" class="new-record-form-container">
            
    <h4>New Accepted or Excluded Loader Name</h4>

    <hr>
    <%= render partial: 'loader/names/tabs/forms/form_for_accepted_or_excluded',
               locals: {loader_name: @loader_name, record_types: ['accepted']} %>
  </div>
</div>
