<div class="focus-details unsaved-record">
  <div id="new-loader-name-form-container" class="new-record-form-container">
            
    <h4>New Loader Name Heading</h4>

    <hr>
    <%= render partial: 'loader/names/tabs/forms/form_for_heading', locals: {loader_name: @loader_name, record_types: ['heading']} %>
  </div>
</div>
