<h4>Loader names search examples</h4>
<div id="example-search-name" class="example-search-tab">
<br>
<br>

<h5 class="">List names</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Loader Names', search_string: "has-comment:",explanation: %Q(List loader names with one or more comments.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

  </div>
