<h4>Loader Name search help</h4>
<table class="table table-striped">
  <p>Note: setting a default batch will apply that batch to Loader Name searches.
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field: 'batch-id:', descr: "Search within a batch using its ID."},
    {field: 'batch-name:', descr: "Search within a batch using its name."},
    {field: 'has-review-comment:',
     descr: "Search for loader names that have been commented on. (Full context returned.)"},
    {field: 'review-comment:',
     descr: "Search for loader names that have a comment matching a given string. (Full context returned.)"},
    {field: 'has-review-comment-by:',
     descr: "Search for loader names that have been commented on by a particular user (user-id). (Full context returned.)"},
    {field: 'concept-note:',
     descr: "Search for loader names that have a concept note matching a given string. (Full context returned.)"},
    {field: 'distribution:',
     descr: "Search for loader names that have a distribution matching a given string. (Full context returned.)"},
    {field: 'distribution-not:',
     descr: "Search for loader names that have a distribution without a given string. (Full context returned.)"},
    {field: 'no-distribution:',
     descr: "Search for loader names that have no distribution string. (Full context returned.)"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field] %>" field to search.'>
        <span class="blue"><%= val[:field] %></span>
      </a>
    </td>
    <td><%= val[:descr].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>
