<h4>System status</h4>
<ul>
  <li/>Taxonomy Version Review table <%= TaxonomyVersionReview.exists? ? 'exists' : '<span class="red">may have a problem - contact IBIS</span>'.html_safe  %>
  <li/>Taxonomy Version Review Period table <%= TaxonomyVersionReviewPeriod.exists? ? 'exists' : '<span class="red">may have a problem - contact IBIS'.html_safe  %>
    <li/>Taxonomy Element Comment table <%= TaxonomyElementComment.exists? ? 'exists' : '<span class="red">may have a problem - contact IBIS'.html_safe  %>
</ul>

