<% increment_tab_index(0) %>
<% case params["tree-element-operation"] %>
<% when blank? %>
  No operation.
<% when 'removed' %>
  No Diff for a removed taxon.
<% else %>
  <div id="diff_element" class="tree-container wrap">
    <%= TreeElement.before_html(OpenStruct.new({ operation: params["tree-element-operation"], id: @tree_element.id, tv_id: params["tree-version-id"] })).html_safe %>
  </div>
<% end %>
