<% this_tab_re = Regexp.new(this_tab) %>
<% active_tab = @tab.match(this_tab_re) %>

<% data = Hash.new %>
<%# data['edit-url'] = tree_element_tab_path(@tree,tab:"#{this_tab}") %>
<% data['tab-url'] = tree_element_tab_path(@tree_element,tab:"#{this_tab}") %>
<%# data['prev-tab'] = prev_tab unless prev_tab.blank? %>
<% data['tab-name'] = this_tab %>

<li class='first <%= active_tab ? "active" : "non-active" %>'>
 <%= link_to link_text,
             '#',
             id: link_id,
             class: 'tab edit-details-tab', 
             title: link_title,
             tabindex: tab_index,
             take_focus: true,
             data: data %>
</li>

