
<% path = 'application/search_results/link_texts/loader/name' %>
<%= render partial: "#{path}/indent", locals: {search_result: search_result} %>

<span class='loader-name <%= search_result.record_type %>'>
<%= "#{search_result.simple_name}" %>
</span>


<% case search_result.record_type %>
<% when 'heading' %>
<% else %>
  <%= render partial: "#{path}/decorate", locals: {search_result: search_result} %>
<% end %>


