<% increment_tab_index(0) %>
<h5>Add a period of review</h5>
<br>
<%= render partial: 'taxonomy_review_periods/form/create' %>
<br>
<br>
<h5>Notes</h5>
<ul class="no-indent">
<li/>Creating a period of review does not automatically start the review.
<ul>




