<% if @loader_name.preferred_matches.size == 0 %>
  <br><br>
  No preferred match, nothing to do here.
<% else %>

  <% @loader_name.preferred_matches.each do |match| %>
    <%= render partial: 'loader/names/tabs/ref_instance/main_entry_form', locals: {match: match} %>
  <% end %>
  <br><br>
  <div id="search-result-details-info-message-container" class="message-container"></div>
  <div id="search-result-details-error-message-container" class="error-container"></div>
  <br><br>
  <%= divider %>
  <%= render partial: 'loader/names/tabs/ref_instance/clear_standalone_instance.html.erb' %>

<% end %>

