<% delete_link = link_to("Delete Instance",
                         '#',
                         id: "instance-delete-link",
                         class: "btn btn-warning unconfirmed-delete-link pull-right",
                         title: "Delete the instance.",
                         tabindex: increment_tab_index,
                         data: {show_this_id: "confirm-or-cancel-link-container"})
-%>

  <% if @instance.this_is_cited_by&.accepted_concept? %>
    <div class="text-warning">Note: if you delete this instance you are changing the synonymy of an accepted
      concept.
    </div>
  <% end %>

  <% if @instance.profile_items.present? %>
    <div class="text-warning">Note: Deleting this instance will also delete the following profile items:
      <ul>
        <% @instance.profile_items.each do |profile_item| %>
          <li><%= profile_item.product_item_config.display_html %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% confirm_delete_link = link_to("Confirm delete",
                                   instance_path(@instance.id),
                                   id: "confirm-delete-link",
                                   class: "btn btn-danger",
                                   tabindex: increment_tab_index,
                                   title: "Confirm the delete.",
                                   remote: true,
                                   method: :delete)
  -%>

  <% cancel_delete_link = link_to("Cancel delete",
                                  '#',
                                  id: "cancel-delete-link",
                                  class: "btn btn-default cancel-link",
                                  title: "Cancel the delete.",
                                  tabindex: increment_tab_index,
                                  data: {enable_this_id: 'instance-delete-link',
                                         hide_this_id: 'confirm-or-cancel-link-container'})
  -%>

  <% confirm_or_cancel_element = %Q(<div id="confirm-or-cancel-link-container"
                                  class="instance-note confirm-or-cancel-delete-link pull-right hidden">
                                  #{confirm_delete_link}
  #{cancel_delete_link}</div>)
  -%>
  <div class="actions"> <%= delete_link.html_safe %> </div>
  <div class="width-100-percent"> <%= confirm_or_cancel_element.html_safe %> </div>

<div id="instance-delete-info-message-container" class="message-container"></div>
<div id="instance-delete-error-message-container" class="error-container message-container"></div>
