<% increment_tab_index %>

<br>
<div>
<h5>Copy Name</h5>
<%= render partial: 'names/form/copy' %>
</div>
<br>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>



<%= divider %>
<div>
  <h5>Copy Standalone Instances</h5>
  <p>Copy up to <%= pluralize(@name.standalone_instances.size, 'standalone instance') %> to another Name record</p>
  <%= render partial: 'names/form/copy_instances' %>
</div>

