<h4>Loader batches search examples</h4>
<h5 class="">List loader batches</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Loader batches', search_string: "*",explanation: %Q(All batches, ordered by name, and limited to the first 100.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td>
      <%= link_to(val[:explanation], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
  </tr>
  <% end %>
</table>

