
<% if can? 'menu', 'help' %>
  <li> <%= render partial: 'layouts/help_menu'  %> </li>
<% end %>
<% if can? 'menu', 'user' %>
  <li> <%= render partial: 'layouts/user_menu' %> </li>
<% end %>
<% if can?("product_contexts/set_context", "create") && Rails.configuration.try('multi_product_tabs_enabled') %>
  <li id="context-selection-menu" class="dropdown">
    <%= render partial: 'layouts/product_context_menu' %>
  </li>
<% end %>
