                  
<li class="dropdown">
  <a href="#" id="review-dropdown-menu-link" class="dropdown-toggle" tabindex="5" <%= 'active' if params[:controller].match(/review/) %> data-toggle="dropdown">Review<span class="caret"></span></a>
  <ul id="review-dropdown-menu" class="dropdown-menu" role="menu"> 

    <% if can? 'menu', 'tree' %>
      <li role="presentation" class="divider"></li>
      <li>
        <%= link_to "<i class=''></i> Switch out of Review Mode".html_safe,
                    switch_off_review_mode_path,
                    title: 'Stop seeing things as a reviewer would',
                    remote: true,
                    method: :post,
                    tabindex: '-1' %>
      </li>
    <% end %>

  </ul>
</li>


