<% increment_tab_index(0) -%>
Current orgs entitled to vote: <%#= @batch_review.....size %>
 <%= divider %>

<%# @batch_review.org_batch_review_voters.includes(:org).order('org.name').each do |obrv| %>
 <div class='padding-zero-dot-2'>
    <%#= obrv.org.name %>
  <%# votes = obrv.loader_name_review_votes.where(org_id: obrv.org_id) %>
  <%# if votes.size == 0 %>
    <%#= render partial: 'loader/batch/reviews/tabs/voting/delete_widgets', locals: {obrv: obrv} %>
  <%# else %>
  <br>votes: <%#= votes.size %>
  <%# end %>

  <%# obrv.batch_review.batch_review_voters.where(org_id: obrv.org_id).each do |brv| %>
    <br><%#= brv.user_name %>
  <%# end %>
 </div>
 <%= divider %>
<%# end %>

<h5>Register an Organisation to Vote in this Review</h5>
<%#= render partial: 'loader/batch/reviews/forms/register_org', locals: {batch_review: @batch_review} %>



<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>




