

          <% if Rails.configuration.try(:batch_loader_aware) %>
            <% Loader::Batch.user_reviewable(@current_user.username).each do |batch| %>
              <li><a id="search-target-item-loader-name" 
                     href="#" 
                     title="Search loader names for records in batch <%= batch.name %>" 
                     data-help="loader-name-search-help" 
                     data-xexamples="loader-name-search-examples"
                     data-examples="loader-name-search-examples-for-dynamic-target-<%= batch.name.gsub(' ','-').downcase %>"
                     ><%= batch.name %></a>
              </li>
            <% end %>
          <% end %>

