      <span class="apc-container no-decoration">
      <% if instance.name.excluded_concept? %>
        <%= editor_icon('ban','',class: 'apc') %>
        <span class='apc small strong' title="Excluded from APC">APC</span>
      <% else %>
        <%= editor_icon('check','',class: 'apc') %>
        <span class='apc small strong' title="In taxonomy">
          <%= ShardConfig.classification_tree_key %>
        </span>
      <% end %>
      </span>

