<h4>System status</h4>
<ul>
  <li/>Taxonomy Review table <%= TaxonomyReview.exists? ? 'exists' : 'may have a problem - contact IBIS'  %>
  <li/>Taxonomy Review Period table <%= TaxonomyReviewPeriod.exists? ? 'exists' : 'may have a problem - contact IBIS'  %>
  <li/>Taxonomy Element Comment table <%= TaxonomyElementComment.exists? ? 'exists' : 'may have a problem - contact IBIS'  %>
</ul>

