<h6>
  Taxonomy Profile Details
</h6>

<% @instance.tree_elements.sort {|x,y| y.updated_at <=> x.updated_at}.each do |te| %>
  #<%= te.id %>;
  <%= te.updated_at.strftime("%d-%b-%Y") %>;
  <%= te.updated_by %><br>
  <pre>
  <%= JSON.pretty_generate(te.profile) %>
  </pre>
<% end %>
