<%= render partial: "profile_items/product_item_config_dropdown", locals: {
    product_configs_and_profile_items: product_configs_and_profile_items,
    selected_product_item_config_id: nil,
    instance: instance
  }
%>
<div id="product-config-and-profile-items-container"></div>
