<% increment_tab_index(0) %>

<% if @working_draft %>
  <%= render partial: "instances/workspace/tab_main" %>
<% else %>
    <h5>No draft taxonomy selected</h5>
    <p>
      Select a draft taxonomy from the Draft Taxonomies menu at the top of the page.
    </p>
<% end %>
