<div>

  <div id="common-error-message-container" class="error-container"></div>
  <div id="message_<%= product_item_config.id %>" class="message-container"></div> <!-- Message container -->
</div>

<div id="edit-tab-profile-item" style="padding: 10px;margin: 5px 0 30px 0px;background-color: white;border: 1px solid #afafaf;">
  <% if profile_item.fact? %>
    <% profile_text = profile_item.profile_text || Profile::ProfileText.new %>
    <%= render(
      partial: "profile_items/fact_profile_item",
      locals: {
        profile_text: profile_text,
        product_item_config: product_item_config,
        profile_item: profile_item,
        instance: instance
      })
    %>
  <% else %>
    <div id="linked-profile-item-container">
      <%= render partial: "profile_items/linked_profile_item", locals: {profile_item: profile_item, product_item_config: product_item_config}%>
    </div>
  <% end %>
</div>
