<!-- Profile Reference List -->
<div style="padding-top:10px;border-top:1px dashed #ddd;display:flex;column-gap:5px;align-items:center">
  <%= sanitize(profile_item_reference.reference.try(:citation_html).to_s) %>
  <%= render partial: "profile_item_references/delete_widgets",
    locals: {
      profile_item_reference: profile_item_reference
    }
  %>
</div>

<%= render partial: "profile_item_references/annotation_form",
    locals: { profile_item_reference: profile_item_reference, profile_item: profile_item } %>
