<%= turbo_stream.replace "add_reference_message_#{@profile_item_reference.profile_item.product_item_config.display_html.parameterize}" do %>
  <div id="add_reference_message_<%= @profile_item_reference.profile_item.product_item_config.display_html.parameterize %>" class="error-container">
    <%= @message %>
  </div>
<% end %>
