<%= turbo_stream.replace "edit_reference_annotation_message_#{@profile_item_reference.profile_item_id_reference_id}" do %>
  <div id="edit_reference_annotation_message_<%= @profile_item_reference.profile_item_id_reference_id %>" class="message-container">
    <%= @message %>
  </div>
<% end %>