
<li class="dropdown define-left-border-when-active">
    <a href="#"
       id="taxonomic-review-dropdown-menu-link"
       class="dropdown-toggle"
       tabindex="3"
       data-toggle="dropdown">Taxonomic Review<span class="caret"></span>
    </a>
    <ul id="create-dropdown-menu" class="dropdown-menu" role="menu">
      <li role="presentation">
        Overview
        <%#= link_to "Overview", help_index_path, title: 'View editor help', tabindex: '-1' %>
      </li>
      <li role="presentation">
        Requested&nbsp;reviews
        <%#= link_to "Show review requests", help_index_path, title: 'Show review requests', tabindex: '-1' %>
      </li>
      <li role="presentation" class="divider"></li>
    </ul>
</li>

