

<% if can? 'menu', 'taxonomic_review' %>
  <li> <%= render partial: 'layouts/taxonomic_review/main_menu'   %> </li>
<% end %>
<% if can? 'menu', 'user' %>
  <li> <%= render partial: 'layouts/user_menu' %> </li>
<% end %>

