

          <li><a id="search-target-item-names" 
                 href="#" 
                 title="Set the search to target names" 
                 data-help="name-search-help" 
                 data-examples="name-search-examples"
                 data-advanced="name-search-advanced" 
              >Names</a></li>
          <li><a id="search-target-item-name-with-instances" 
                 href="#" 
                 title="Set the search to target names and also retrieve instances" 
                 data-help="name-plus-instances-search-help" 
                 data-examples="name-plus-instances-search-examples"
                 data-advanced="name-plus-instances-search-advanced" 
              >Names plus instances</a>
          </li>
          <% if Rails.configuration.try(:orchids_aware) %>
            <li><a id="search-target-item-orchid-names" 
                   href="#" 
                   title="Set the search to target orchid names" 
                   data-help="orchids-search-help" 
                   data-examples="orchids-search-examples"
                   data-advanced="orchids-search-advanced" 
                >Orchids</a>
            </li>
            <li><a id="search-target-item-orchid-processing-logs" 
                   href="#" 
                   title="Set the search to target orchid processing-logs" 
                   data-help="orchid-processing-logs-search-help" 
                   data-examples="orchid-processing-logs-search-examples"
                   data-advanced="orchid-processing-logs-search-advanced" 
                >Orchid processing logs</a>
            </li>
          <% end %>
          <% if Rails.configuration.try(:batch_loader_aware) %>
            <li><a id="search-target-item-loader-batch-stack" 
                   href="#" 
                   title="Search loader batches and retrieve batches, reviews, review periods, reviewers in a stack" 
                   data-help="loader-batch-stack-search-help" 
                   data-examples="loader-batch-stack-search-examples"
                >Batch stacks</a>
            </li>
          <% end %>

          <li role="separator" class="divider"></li>

          <li><a id="search-target-item-authors" 
                     href="#" 
                 title="Set the search to target authors" 
                     data-help="author-search-help" 
                     data-examples="author-search-examples" 
                     data-advanced="author-search-advanced" 
                  >Authors</a></li>
          <li role="separator" class="divider"></li>

          <li><a id="search-target-item-references" 
                 href="#" 
                 title="Set the search to target references" 
                 data-help="reference-search-help"
                 data-examples="reference-search-examples"
                 data-advanced="reference-search-advanced"
                 >References</a></li>

          <li><a id="search-target-item-reference-accepted-names" 
                 href="#" 
                 title="Set the search to target references with novelties." 
                 data-help="references-accepted-names-search-help"
                 data-examples="references-accepted-names-search-examples"
                 data-advanced="references-with-novelties-search-advanced"
              >References with novelties</a></li>
          <li><a id="search-target-item-instances-for-reference" 
                 href="#" 
                 title="Set the search to target references and return full synonymy" 
                 data-help="references-names-full-synonymy-search-help"
                 data-examples="references-names-full-synonymy-search-examples"
                 data-advanced="references-names-full-synonymy-search-advanced"
              >References, names, full synonymy</a></li>
          <li><a id="search-target-item-reference-shared-names" 
                 href="#" 
                 title="Query the instances for 2 references - show only the instances for shared names." 
                 data-help="references-shared-names-search-help"
                 data-examples="references-shared-names-search-examples"
                 data-advanced="references-shared-names-search-advanced"
              >References shared names</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-item-instances" 
                     href="#" 
                 title="Set the search to target instances" 
                     data-help="instance-search-help"
                     data-examples="instance-search-examples"
                     data-advanced="instance-search-advanced"
                  >Instances</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-audit" 
                     href="#" 
                 title="Search recent work on names, references, authors, and instances" 
                     data-help="review-search-help"
                     data-examples="review-search-examples"
                     data-advanced="review-search-advanced"
                     >Review</a></li> 
          <li role="separator" class="divider"></li>

          <% if Rails.configuration.try(:batch_loader_aware) %>
            <li><a id="search-target-item-loader-batch" 
                   href="#" 
                   title="Search loader batches" 
                   data-help="loader-batch-search-help" 
                   data-examples="loader-batch-search-examples"
                >Loader batches</a>
            </li>
            <li><a id="search-target-item-loader-name" 
                   href="#" 
                   title="Search loader names" 
                   data-help="loader-name-search-help" 
                   data-examples="loader-name-search-examples"
                >Loader names</a>
            </li>

            <li><a id="search-target-item-batch-review" 
                   href="#" 
                   title="Search batch reviews" 
                   data-help="batch-review-search-help" 
                   data-examples="batch-review-search-examples"
                >Batch reviews</a>
            </li>

            <li><a id="search-target-item-batch-reviewer" 
                   href="#" 
                   title="Search batch reviewers" 
                   data-help="batch-reviewer-search-help" 
                   data-examples="batch-reviewer-search-examples"
                >Batch reviewers</a>
            </li>

            <li role="separator" class="divider"></li>

            <li><a id="search-target-item-user" 
                   href="#" 
                   title="Search Users" 
                   data-help="user-search-help" 
                   data-examples="user-search-examples"
                >Users</a>
            </li>

            <li><a id="search-target-item-org" 
                   href="#" 
                   title="Search Organisations" 
                   data-help="org-search-help" 
                   data-examples="org-search-examples"
                >Organisations</a>
            </li>

          <% end %>

