



<div id="create-one-vote-container">

<% if @loader_name.batch.reviews.empty? %>
  No review in place for this batch of records.
<% else %>
  <% if @loader_name.batch.active_reviews? %>
    <%= render partial: 'loader/names/review/tabs/main/votes/votable/voting_in_progress',
               locals: {batch: @loader_name.batch,
               review: @loader_name.batch.active_reviews.first} %>
  <% else %>
    There are no active reviews for this record.
  <% end %>
<% end %>

</div>

