
<tr class="search-result accepted top-spacer"><td colspan="4">&nbsp;</td></tr>
<tr class="search-result accepted top-spacer"><td colspan="4">&nbsp;</td></tr>
<tr class="search-result accepted top-spacer"><td colspan="4">&nbsp;</td></tr>
<tr class="search-result accepted top-spacer"><td colspan="4">&nbsp;</td></tr>

<tr id="search-result-<%= search_result.id %>" class="search-result <%= search_result.record_type %>"  >
  <td class="text name main-content width-65em" colspan="9" >
     <%= "#{search_result.simple_name.upcase}" %>
  </td>
</tr>


