<h4>Search Directives</h4>
<p/>The Editor main page has only one search field, but you can use this one field for many and varied searches using <b>search directives</b>
<p/>Search Directives let you tell the Editor what you want to search on. They are a special set of terms that:
<ul>
<li/>include one or more words joined by dashes
<li/>always end in a colon (<q>:</q>)
<li/>contain no spaces
</ul>
<p/>You can enter more than one search directive: into the search field at a time.
<p/>Multiple search directives are 'anded' together.
<p/>Most search directives expect one or more search terms to follow, but a few need no search terms.
<br>
<br>

