<h3>Reference search</h3>
<p/>References include books, papers, journals etc.
<p/>You are seeing this Reference help because the search target field (the top-left dropdown) is set to Reference.
<p/>Note: some of the help text here depends on APNI data examples - we apologise for that, but, for the present, we think it's better to have some examples rather than none.
<br>
<br>
<%= render partial: 'references/advanced_search/quick_start_help' %>
<br>
<br>
<%= render partial: 'references/advanced_search/directives_intro' %>
<%#= render partial: 'references/advanced_search/text_search_help' %>

<h4>Show instances</h4>
<p/>You may often want to see the instances for a reference as well and here is how you can do that.
<p/>Add <code>show-instances:</code> or <code>show-instances-by-page:</code> to also retrieve instances.
<p>
<p>
The <code>show-instances:</code> directive also has abbreviations: <code>s-i:</code>, <code>si:</code>, and <code>i:</code> that all do the same thing.
<p>
Add <code>instance-offset: 999</code> to offset the instances for each reference retrieved.
<br>
<br>
<%= render partial: 'references/advanced_search/directives_list' %>

