
<div class="focus-details unsaved-record">
  <div id="new-user-form-container" class="new-record-form-container">
            
    <h4>New User</h4>

    <hr>
    <%= render partial: 'form' %>

  </div>
</div>
