
body.development div#top-navbar { background: #5b3d88; }
body.development div#first-navbar { background: #5b3d88; }
body.development ul.navbar-nav li.dropdown { background: #5b3d88; }
body.development ul.navbar-nav li a.dropdown-toggle { background: #5b3d88; }
body.development div#searchbar { background: #5b3d88; }
body.development div#search-summary { background: #5b3d88; }

body.test div#top-navbar { background: darkmagenta; }
body.test div#first-navbar { background: darkmagenta; }
body.test ul.navbar-nav li.dropdown { background: darkmagenta; }
body.test ul.navbar-nav li a.dropdown-toggle { background: darkmagenta; }
body.test div#searchbar { background: darkmagenta; }
body.test div#search-summary { background: darkmagenta; }

body.staging div#top-navbar { background: blue; }
body.staging div#first-navbar { background: blue; }
body.staging ul.navbar-nav li.dropdown { background: blue; }
body.staging ul.navbar-nav li a.dropdown-toggle { background: blue; }
body.staging div#searchbar { background: blue; }
body.staging div#search-summary { background: blue; }

