<div class="focus-details">
  <% if notice %> <p id="notice"><%= notice %></p> <% end %>

  <br>

  <%#= link_to(@tree.name, search_path(query_target: 'names', query_string: "id:#{@name.id}"),id: 'tab-heading',title: 'Query this name') %>
  <span class="pull-right"><%#= mapper_name_link(@name) %></span>

  <div>&nbsp;</div>

  <%= render partial: 'trees/tabs/tabs' %>

  <%#= render partial: "trees/tabs/#{@tab}" %>
  <%# Temp. work-around to avoid getting stuck on non-existent tabs %>
  <%= render partial: "trees/tabs/tab_details" %>

  <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

</div><!-- /end .focus-details -->
