<h3>Taxonomy Version Review</h3>

<h4>Review Workflow</h4>
<ol>
  <li/>Find reviews on your list
  <li/>Find past reviews
  <li/>Choose an (unpublished) taxonomy <b>version</b> for review
    <ul>
      <li/><%= link_to("Unpublished taxonomy versions",
                       search_path(query_string: 'unpublished:',
                                   query_target: 'tree_versions'),
                       class: "with-underline",
                       title: "Retrieve all unpublished taxonomy versions") %>
    </ul>

</ol>
