
<%= form_for(@taxonomy_review_period, as: 'taxonomy_review_period', role: 'form', remote: true) do |f| %>
    Start date
    <br>
    <%= f.date_select :start_date,
                      {order: [:day, :month, :year]},
                      {title: 'Start date for the period of review',
                       tabindex: increment_tab_index}  %>
    <br>
    <br>
    <%= f.hidden_field :taxonomy_review_id %>
    <%= f.submit id: "save-new-instance-btn", class: 'btn-primary', title: "Save changes", tabindex: increment_tab_index %>
    <br>

<% end %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
 

