<div id="batch-loader-control-panel" class="reports-inner">

<% increment_tab_index(0) %>
<h4>Loading Batch Data into Taxonomy</h4>
<h5>Steps</h5>
<ol>
  <li>Match a raw loader-name record with the correct bibliographic name record.</li>
  <li>Lock these matches in as <b>preferred matches</b>.</li>
  <li>Identify an instance that documents the usage of the loader-name for the taxonomy.</li>
  <li>If no such instance exists, <b>create one</b>.</li>
  <li><b>Add</b> the identified instance to the draft taxonomy.</li>
</ol>

<%= divider %>
</div>
