<div class="focus-details unsaved-record">
  <div id="new-loader-name-form-container" class="new-record-form-container">
            
    <h4>New Loader Batch</h4>

    <hr>
    <%= render partial: 'loader/batches/tabs/form',
               locals: {loader_batch: @loader_batch} %>
  </div>
</div>
