<% if search_result.try('parent').try('no_further_processing?') %>
    <span class="flag exclude-from-further-processing" title='No further processing flag of parent set'>NFP via parent</span>
<% elsif search_result.no_further_processing? %>
    <span class="flag exclude-from-further-processing" title='No further processing flag set'>NFP</span>
<% end %>

