
<% case search_result.record_type %>
<% when 'accepted' %>
<% when 'synonym' %>
  <% if search_result.excluded? %>
    <span class="flag excluded" title='Excluded synonym'>Excluded Syn</span>
  <% end %>
<% when 'misapplied' %>
    <span class="flag misapplied" title='Misapplied name'>Misapplied</span>
<% when 'excluded' %>
    <span class="flag excluded" title='Excluded name'>Excluded</span>
<% end %>

