
<% unless search_result.remark_to_reviewers.blank? %>
  <span class="review loader-name remark-to-reviewers">
    <%= search_result.remark_to_reviewers.html_safe %>
  </span>
<% end %>

<% unless search_result.higher_rank_comment.blank? %>
  <span class="review loader-name remark-to-reviewers">
    <%= search_result.higher_rank_comment.html_safe %>
  </span>
<% end %>
