<% product_item_config, profile_item = config_items.values_at(:product_item_config, :profile_item) %>
<% profile_text = profile_item.profile_text || Profile::ProfileText.new %>

<div id="link-profile-item-container">
  <% unless profile_text.persisted? %>
    <%= render partial: "profile_items/link_profile_item",
      locals: {
        product_item_config: product_item_config,
        instance_id: instance.id
      }
    %>
  <% end %>
</div>

<div class="product-item-config-container product-item-config-container-id-<%= product_item_config.id %>">
  <% if profile_item.fact? %>
    <%= render(
      partial: "profile_items/fact_profile_item",
      locals: {
        profile_text: profile_text,
        product_item_config: product_item_config,
        profile_item: profile_item,
        instance: instance
      })
    %>
  <% else %>
    <%= render partial: "profile_items/linked_profile_item", locals: { product_item_config: product_item_config, profile_item: profile_item } %>
  <% end %>
</div>
