<h4>Tree Version search</h4>
<br>
<br>
<table class="table table-striped">
  <tr><th>Search Directive</th><th>Description</th></tr>
  <% [
      {field_name: 'id:', description: "match on id"},
      {field_name: 'draft-name:', description: "match on draft-name &mdash; this is the default search if you don't provide a search directive"},
      {field_name: 'for-tree-id:', description: "match on ID of the tree this version belongs to"},
      {field_name: 'has-review:', description: "match if it has an attached review"},
      {field_name: 'published:', description: "is published"},
      {field_name: 'unpublished:', description: "isn't published"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>
