

<tr id="search-result-<%#= search_result.id %>" 
    class="search-result <%= search_result['record_type'] %> <%#= 'fresh' if search_result[:fresh] %>"  
    >
    <td class="width-5-percent filler concept-note-indent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td class="min-with-90-percent width-90-percent max-width-90-percent" colspan="4">
       <%= search_result[:payload] %>
    </td>
</tr>






