
<tr id="search-result-<%#= search_result.id %>" 
    class="search-result <%= search_result['record_type'] %> <%#= 'fresh' if search_result[:fresh] %>"  
    >
    <td width="50" class="first-indent"></td>
    <td width="50" class="second-indent"></td>
    <td class="min-with-95-percent width-95-percent max-width-95-percent" colspan="4">
             <%= search_result[:payload] %>
    </td>
</tr>






