<tr id="search-result-<%= search_result.id %>" 
    class="search-result <%= search_result.record_type %>"  
    >

  <td class="text name main-content"
      >

<%= "#{search_result.simple_name.upcase}" %>


  </td>
</tr>


