<% if defined? @previous_distribution %>
  <% unless @previous_distribution.blank? %>
  <tr class="search-result accepted distribution">
      <td class="text indent" ></td>
      <td>
        <%= @previous_distribution %>
      </td>
  </tr>
  <% @previous_distribution = '' %>
  <% end %>
<% end %>

<% if defined? @previous_comment %>
  <% unless @previous_comment.blank? %>
  <tr class="search-result accepted compiler-comment">
      <td class="text indent" ></td>
      <td>
        <%= sanitize(@previous_comment, tags: %w(i)).html_safe %>
      </td>
  </tr>
  <% @previous_comment = '' %>
  <% end %>
<% end %>

