<% if defined? search_result.distribution %>
  <% unless search_result.distribution.blank? %>
  <tr class="search-result accepted distribution">
      <td>
        <span class="distribution-inset">&nbsp;</span> <%= search_result.distribution %>
      </td>
  </tr>
  <% end %>
<% end %>

<% if defined? search_result.comment %>
  <% unless search_result.comment.blank? %>
  <tr class="search-result accepted comment">
      <td>
        <span class="comment-inset">&nbsp;</span>&nbsp;<%= sanitize(search_result.comment, tags: %w(i)).html_safe %>
      </td>
  </tr>
  <% end %>
<% end %>

