
<% op = search_result['operation'] %>
<% op = 'changed' if op == 'modified' %>
<span class='diff_list'>
  Diff List Taxon <%= "#{search_result["simple_name"]}" %>
        <span class="search-result-operation operation-type-<%= op %>"><%= op %></span>
</span>
