
<span class='diff_list'>
  Diff List Taxon <%= "#{search_result["simple_name"]}" %>
        <span class="search-result-operation operation-type-<%= search_result["operation"] %>"><%= search_result["operation"] %></span>
</span>
