<%= form_for(@taxonomy_version_review, as: 'taxonomy_version_review', role: 'form', remote: true) do |f| %>

  <div class="form-group">
    <label for="name">Name*</label>
   <%= f.text_field :name, tabindex: increment_tab_index, title: "Enter name", class: 'form-control', required: true, autofocus: true %>
   <p>(Edit the name)</p>
  </div>
  <%= f.submit "Save", id: 'taxonomy-review-save', class: 'btn btn-primary width-5em', title: "Save changes", tabindex: increment_tab_index, disabled: false %>

  <br>
  <%#= render partial: "names/form/save_widgets", locals: {f: f} %>
  <span id="search-result-details-info-message-container" class="message-container"></span>
  <span id="search-result-details-error-message-container" class="error-container"></span>
<% end %>

