<% taxonomy_version_review = TaxonomyVersionReview.new %>
<% taxonomy_version_review.tree_version = tree_version %>
<%= form_for(taxonomy_version_review, remote: true) do |f| %>


    Name
    <br>
    <%= f.text_field :name,
      class: "form-control",
      required: true,
      value: "Review of #{tree_version.tree.name} #{tree_version.draft_name}" ,
      title: "Enter a short, descriptive name for the review",
      tabindex: increment_tab_index %>

    <br>
    <%= f.hidden_field :tree_version_id %>
    <%= f.submit id: "save-new-review-btn", class: 'btn-primary', value: 'Create Review', title: "Saves a new taxonomy version review", tabindex: increment_tab_index %>
    <br>

<% end %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
 

