<%= turbo_stream.replace "message_#{@profile_item.product_item_config.id}" do %>
  <div id="message_<%= @profile_item.product_item_config.id %>" class="message-container">
    <%= @message %>
  </div>
<% end %>