<% increment_tab_index(0) %>
<%= render partial: 'detail_line', locals: {info: @loader_batch.name, label: 'Name'} %>
<%= divider %>
<h5>Metadata</h5>
<%= created_by_whom_and_when(@loader_batch).html_safe %>
<br>
<%= updated_by_whom_and_when(@loader_batch).html_safe %>
