<% increment_tab_index(0) %>

<%= render partial: 'loader/batches/tabs/form' %>

<div class="hidden show-after-create">
<a onclick="$('#query-submit').click();" href="javascript:void(0);" class="btn btn-primary" title="refresh the page">Refresh page</a>
</div>


