
<% unless @loader_name.accepted? %>
  Not an accepted raw loader name, so you cannot create a synonym for it.
<% else %>
  <h4>Create LoaderName synonym for <%= @loader_name.simple_name %></h4>
  <% loader_name = Loader::Name.new %>
  <% loader_name.parent_id = @loader_name.id %>
  <% loader_name.record_type = 'synonym' %>
  <% loader_name.seq = @loader_name.seq + 1 %>
  <%= render partial: 'loader/names/tabs/forms/form_for_synonym', locals: {loader_name: loader_name} %>
<% end %>

<% if @take_focus %>
  <script>
    $(document).ready(function () {
      $('#loader_name_simple_name').focus();
    })
  </script>
<% end %>


