<h4>Delete Raw Loader Name Record</h4>
<%= render 'loader/names/tabs/delete_widgets' %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>


