<% increment_tab_index(0) %>
<h5>Reference Instance</h5>


This is where you set the standalone instance for loader name records which have a preferred match.
<br>
<br>
It applies only to main entries, not to synonyms or misapplications.

<% if @loader_name.main_entry? %>
  <%= render partial: 'loader/names/tabs/ref_instance/main_entry' %>
<% end %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="error-container"></div>


