<h5>Sequence Operations</h5>
<ul>
  <li/>Increase sequence gaps for the whole batch
  <li/>Increase the sequence value for every record below this one
</ul>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>


