<div id="example-search-name" class="example-search-tab">
<h4>Bulk Processing Logs search examples</h4>
<br>

<h5 class="">First set of examples</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Bulk Processing Logs', search_string: "latest:",explanation: %Q(Most recently created logs in reverse order (newest at the top))},
      {search_target: 'Bulk Processing Logs', search_string: "log: error placing or replacing",
          explanation: %Q(Searches logs for the string 'placing or replacing' with wildcards added automatically)},
      {search_target: 'Bulk Processing Logs', search_string: "log: synonym is accepted concept",
          explanation: %Q(Searches logs for the string 'synonym is accepted concept' with wildcards added automatically)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

