
     <tr class="review-result review white-space-row"><td colspan="4">
       <a class="xnavigation-link takes-focus white-space" title='title' tabindex="<%= increment_tab_index(100) %>"></a>
     &nbsp;</td></tr>
