<div id="taxonomy-review-inner" class="reports-inner">
  <% if can?("taxonomy_review","administer") %>
    <%= render partial: "index_for_review_admin" %>
  <% end %>
  <%= render partial: "index_for_reviewer" %>
</div>
