<h3>Preferred Matches</h3>
<%= render partial: 'loader/names/tabs/details/matches/forms/preferred_match.html.erb' %>

<% unless @loader_name.preferred_matches.empty? %>
  <%= render partial: 'loader/names/tabs/details/matches/forms/clear_all_matches.html.erb' %>
<% end %>
