<% if @loader_name.synonym_type.blank? %>
  <h5 class="red">Cannot show matches - the misapplied type field is empty, please go to Edit tab and set a value</h5>
<% else %>
  <% if @loader_name.synonym_type.match(/unsourced/) %>
    <h4>Matches for Unsourced Misapplied</h4>
      <%= render partial: 'loader/names/tabs/details/matches/misapplieds/unsourced_preferred_matches' %>
  <% else %>
    <h3>Matches for Sourced Misapplied</h3>
    <% @loader_name.matches.each_with_index do |matching_name, index| %>
      <%= render partial: 'loader/names/tabs/details/matches/misapplieds/one_misapplied',
                 locals: {matching_name: matching_name, index: index} %>
    <% end %>
  <% end %>
<% end %>

