<h3>Matches for Misapplied</h3>
  <% @loader_name.matches.each_with_index do |matching_name, index| %>
    <%= render partial: 'loader/names/tabs/details/matches/misapplieds/one_misapplied',
               locals: {matching_name: matching_name, index: index} %>
 <% end %>


