<% increment_tab_index(0) -%>
<%= render partial: 'loader/batch/review/periods/forms/edit_form', locals: { orchid: @batch_review } %>
<%= divider %>

<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>

