<h5>Add a taxonomy review record</h5>

<% if @tree_version.published %>
  <p>This version of taxonomy has been published so you cannot create a review.</p>
<% else %>
<%= render partial: 'taxonomy_version_reviews/form_create_from_tree_version' %>

<br>
<br>
<h5>Notes</h5>
<ul class="no-indent">
  <li/>Adding a review record is the first step in requesting comments on this taxonomy
  <li/>Use the default review name provided, alter the default, or make up your own review name
  <li/>You can edit the review name after adding the review
  <li/>You can delete a review record up till the time it has comments attached
</ul>


<% end %>
