<h5>Set up a taxonomy review</h5>

<% if @tree_version.published %>
  <p>This taxonomy has been published so you cannot create a review.</p>
<% elsif @tree_version.has_active_review? %>
  <p>This draft already has an active review.</p>
<% elsif @tree_version.has_inactive_empty_review? %>
  <p>This draft already has an inactive review with no review periods defined. You can define a review period for it, or delete it.</p>
<% else %>
  <%= render partial: 'taxonomy_version_reviews/form/form_create_from_tree_version', locals: {tree_version: @tree_version} %>

<br>
<br>
<h5>Notes</h5>
<ul class="no-indent">
  <li/>Adding a review record is the first step in requesting comments on this taxonomy
  <li/>Use the default review name provided, alter the default, or make up your own review name
  <li/>You can edit the review name after adding the review
  <li/>You can delete a review record up till the time it has comments attached
</ul>


<% end %>
