<div id="example-search-name" class="example-search-tab">
<h4>Popular and Helpful Tree Searches</h4>
<br>

<table class="example-searches table table-striped">
  <% [
      {search_target: 'Tree', search_string: "*",link_text: %Q(All trees), explanation: %Q(All trees - wildcard for the default field, which is name)},
      {search_target: 'Tree', search_string: "name: *",link_text: %Q(All trees (longhand)), explanation: %Q(All trees - wildcard for the name field)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:link_text],
                  search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:search_string].html_safe %></td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

