.review.loader-name.family {
  font-weight: bold;
  font-size: 14pt;
}

.review-loader-name.distribution {
  margin-left: 4em;
}

.review-loader-name.taxonomy-comment {
  color: black;
  margin: 0.3em 0.3em 0.3em 2em;
}

span.review.loader-name.accepted-full-name {
  font-size: 11pt;
  font-weight: bold;
  color: black;
}

table tr.review-result.showing-details td a span.review.loader-name.accepted-full-name {
  color: white;
  text-decoration: none;
}

table tr.review-result td {
  margin-top: 0;
  padding-top: 0.151em;
  padding-bottom: 0.151em;
}

tr.review-result.taxonomy-comment.showing-details td a span.review-loader-name.taxonomy-comment {
  color: white;
  text-decoration: none;
}

table tr.review-result.taxonomy-comment.showing-details td a span.review.loader-name.taxonomy-comment {
  color: white;
  text-decoration: none;
}

.review-loader-name.synonym-full-name {
  font-style: italic;
}

.review.loader-name.name-status {
  background-color: firebrick;
  color: white;
  font-size: 9pt;
  padding: 0 0.2em 0 0.2em;
}

.review.loader-name.misapplied-flag {
  background-color: purple;
  font-size: 9pt;
  color: white;
  padding: 0 0.2em 0 0.2em;
}

.review.loader-name.isonym {
  background-color: firebrick;
  color: white;
  font-size: 9pt;
  padding: 0 0.2em 0 0.2em;
}

.review.loader-name.orth-var {
  background-color: firebrick;
  color: white;
  font-size: 9pt;
  padding: 0 0.2em 0 0.2em;
}

.review.loader-name.remark-to-reviewers {
  background-color: yellow;
  font-size: 9pt;
  color: black;
  padding: 0 0.2em 0 0.2em;
}

tr.review-result span.has-loader-name-review-comments {
  background-color: salmon;
  font-size: 9pt;
  color: white;
  padding: 0 0.2em 0 0.2em;
}

span.reviewer-comment-tag {
  background-color: #5252ff;
  font-size: 9pt;
  color: white;
  padding: 0 0.2em 0 0.2em;
}

span.compiler-comment-tag {
  background-color: #7900d6;
  font-size: 9pt;
  color: white;
  padding: 0 0.2em 0 0.2em;
}

tr.review-result span.excluded {
  background-color: red;
  font-size: 9pt;
  color: white;
  padding: 0 0.2em 0 0.2em;
}

.review.has-parent {
  width: 0;
}

.review.loader-name.child {
  margin: 0.3em 0.3em 0.3em 2em;
  font-style: italic;
  font-size: 10pt;
}

.review-table tr {
  line-height: 1.2em;
}

tr.review-result {
  line-height: 1.0em;
}

tr.review.white-space-row {
  line-height: 2.5em;
}

tr.review.family {
  line-height: 2.5em;
}

tr.review.distribution {
  line-height: 2.5em;
}

tr.review.taxonomy-comment {
  line-height: 2.5em;
}

tr.loader-batch.review-result {
  line-height: 2em;
  border-bottom: 1px solid lightgray;
}

tr.review-result {
  cursor: pointer;
}

div.name-comment-display-container {
  overflow: scroll;
}

div.name-comment-edit-container {
}

a.review-show-details-link:focus {
  outline: none;
  border-width: 0px;
}

span.indent {
  display: inline-block;
}

div.inline-edit-form-container {
  border: 1px solid gray;
  padding: 1em;
  background: lightgray;
}

tr.review-result span.excluded {
  background-color: red;
  font-size: 9pt;
  color: white;
  padding: 0 0.2em 0 0.2em;
}

.review.has-parent {
  width: 0;
}

.review.loader-name.child {
  margin: 0.3em 0.3em 0.3em 2em;
  font-style: italic;
  font-size: 10pt;
}

.review-table tr {
  line-height: 1.2em;
}

tr.review-result {
  line-height: 1.0em;
}

tr.review.white-space-row {
  line-height: 2.5em;
}

tr.review.family {
  line-height: 2.5em;
}

tr.review.distribution {
  line-height: 2.5em;
}

tr.review.taxonomy-comment {
  line-height: 2.5em;
}

tr.loader-batch.review-result {
  line-height: 2em;
  border-bottom: 1px solid lightgray;
}

tr.review-result {
  cursor: pointer;
}

div.name-comment-display-container {
  overflow: scroll;
}

div.name-comment-edit-container {
}

a.review-show-details-link:focus {
  outline: none;
  border-width: 0px;
}

span.indent {
  display: inline-block;
}

div.inline-edit-form-container {
  border: 1px solid gray;
  padding: 1em;
  background: lightgray;
}

/* batch stack */

table tr.search-result.batch-stack td {
  margin-top: 0;
  padding-top: 0.151em;
  padding-bottom: 0.151em;
}
tr.search-result.batch-stack td {
  line-height: 0.7em;
  border-top: 0px;
}
table tr.search-result.batch-stack[data-record-type="loader-batch"] td {
  padding-top: 0.5em;
  border-top: 1px solid black;
}
tr.search-result.batch-stack td span.batch-review {
  color: black;
  margin: 0.3em 0.3em 0.3em 2em;
}
tr.search-result.batch-stack td span.review-period {
  color: black;
  margin: 0.3em 0.3em 0.3em 4em;
}
tr.search-result.batch-stack td span.batch-reviewer {
  color: black;
  margin: 0.3em 0.3em 0.3em 6em;
}

.calendar-text { margin-top: .3em; }
