
div#top-navbar {
  background: gray;
  height: 143px;
}

div#first-navbar {
  background: gray;
}

div#search-result-container.sidebar {
  background: white;
}

div#main-content {
  margin-top: 100px;
  padding-bottom: 4em;
}

a.navbar-brand {
  padding-top: 6px;
  padding-bottom: 0px;
  height: 30px;
  vertical-align: bottom;
}

div.navbar-inverse a.navbar-brand {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

div.navbar-inverse a.navbar-brand.active {
  text-decoration: none;
  background: white;
  color: black;
}

li a.navbar-nav,
div.navbar li.dropdown {
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  height: 30px;
  vertical-align: bottom;
  margin-right: 0.7em;
}

div.navbar-inverse a.navbar-nav {
  color: white;
  font-weight: normal;
  font-size: 14px;
}

li a#this-dropdown {
  color: white;
  vertical-align: top;
}

ul.navbar-nav li.dropdown {
  padding: 0px 0px 0px 0px;
  background: gray;
}

ul.navbar-nav li a.dropdown-toggle {
  padding: 6px 5px 6px 5px;
  color: white;
  background: gray;
  font-weight: normal;
  font-size: 14px;
}

ul.navbar-nav li.dropdown.open a.dropdown-toggle:hover,
ul.navbar-nav li.dropdown.open,
ul.navbar-nav li.dropdown a.dropdown-toggle.active,
ul.navbar-nav li.dropdown.open a.dropdown-toggle {
  background: white;
  color: black;
}

div.navbar-inverse a.navbar-nav.active {
  text-decoration: none;
  background: white;
  color: black;
}

div#searchbar {
  background: gray;
  height: 77px;
  padding-top: 4px;
}

div#searchbar.new-small-searchbar {
  height: 37px;
  padding-top: 4px;
}

#search-results-summary,
#search-results-summary a {
  color: white;
}

#search-results-summary a {
  text-decoration: underline;
}

div#search-summary-offset {
  background: white;
  height: 40px;
}

table#search-results-table {
  width: 90%;
}

div#search-result-details {
  position: fixed;
  margin-top: 28px;
  right: 1%;
  overflow: auto;
  z-index: 80;
  border: 1px solid gray;
  border-radius: 3px;
  float: right;
  height: calc(98vh - 140px - 4em);
  background-color: white;
}
/* this works, but is too rigid */
  /*width: 800px !important; */

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.no-right-margin,
.btn.no-right-margin {
  margin-right: 0;
}

div#footer {
  position: fixed;
  bottom: 0;
  background: lightgray;
  border-top: 1px solid gray;
  z-index: 70;
  width: 100%;
  height: 3em;
}

div#search-result-container {
  position: absolute;
  margin-bottom: 2.2em;
}
/*
div.main.row {
  position: absolute;
}
*/

/* Allow for footer. */
div#search-results {
  padding-bottom: 3em;
}

div#message-container {
  position: fixed;
  top: 100px;
  left: 20%;
  width: 30%;
  min-height: 50px;
  max-height: 90px;
  height: 60px;
  overflow: scroll;
  z-index: 100;
  background-color: orange;
  border: 1px solid gray;
  text-align: center;
  padding-top: 1em;
}

a.show-details-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

tr.search-result td.main-content {
  padding-top: 6px;
}

div#search-result-container {
  padding-top: 0;
  margin-top: -5px;
}

a.example-search-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

