
h1.showme {
  color: blue;
}

table.search-results.for-print {
  padding-left: 3em;
}

tr.search-result.heading {
  font-weight: bold;
  font-size: 15pt;
  height: 6em;
}

tr.search-result.heading td.text {
  text-align: center;
}

tr.search-result span.loader-name.remark-to-reviewers {
  background: yellow;
}

tr.search-result span.loader-name.simple-name.accepted {
  font-weight: bold;
}

tr.search-result span.loader-name.simple-name.excluded {
  font-style: italic;
}

tr.search-result span.loader-name.simple-name.synonym {
  font-style: italic;
}

tr.search-result.distribution span.distribution-inset {
  width: 6em;
  display: inline-block;
}

tr.search-result.excluded-header {
  font-weight: bold;
  font-size: 12pt;
  height: 4em;
}

