.search-result-operation {
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin-left: 0.8em;
}

.operation-type-added {
  background-color: green;
  color: white;
}

tr.showing-details span.operation-type-added {
  background-color: green;
  color: white;
}

.operation-type-removed {
  background-color: orange;
}

.operation-type-changed {
  background-color: lightgray;
}

tr.showing-details span.operation-type-changed {
  background-color: lightgray;
  color: black;
}

synonym {
  color: red;
}

.comment {
    margin-top: 1em;
    margin-left: 1em;
}

.commenter {
    font-weight: bold;
}

.time {
    font-weight: normal;
    color: grey;
    font-size: 0.9em;
    margin-left: 1em;
}
