
<%= link_to(%Q(Show search results for: #{merge_family_search_directive("bulk-ops: #{params['name_string']}")}),
            search_path(query_string: merge_family_search_directive("bulk-ops: #{params['name_string']}"),
                        query_target: 'Loader names'),
            class: 'with-underline',
            title: 'Search loader name') %>
<% @stats.report.each do | key, value | %> 
  <%= "<h5>#{key.to_s.gsub(/_/,' ').capitalize}</h5>".html_safe %>
  <%= render partial: 'stats_table', locals: { a_hash: value } %>
  <% if key.downcase == :lock %>
    <% if Loader::Batch::Bulk::JobLock.locked? %>
      <%= link_to "Emergency unlock batch jobs", {controller: 'job_lock', action: 'unlock'}, {id: 'emergency-unlock-link', class: 'btn btn-primary', remote: true, title: "Unlock the batch lock", method: :post} %>
    <% end %>
  <% end %>
<% end %>

