

<table class="orchids status table-striped" border="1px solid black">
<% a_hash.each do | key, value | %> 
  <tr>
    <td>
        <%= key.to_s.gsub(/_/,' ').capitalize %>
    </td>
    <% if key =~ /search_string/ || key =~ /status/ || key =~ /name_category/ %>
      <td  class="min-width-10em">

    <% else %>
      <td  class="numeric min-width-10em">
    <% end %>
        <%= value %>
    </td>
  </tr>
<% end %>
</table>
