<% params[:start_date] ||= Date.today %>
<% @review_days ||= [] %>

<%= month_calendar events: @review_days do |date, review_days| %>
  <%= date.day %>

  <% review_days.each do |review_day| %>
    <div class="<%= review_day.name %>">
     &nbsp; 
    </div>
  <% end %>
<% end %>
