<% increment_tab_index(0) %>

<h5>Delete</h5>

<p>
Authorised users can delete a review period providing no users are attached and no comments have been made. (Rules to be further refined.)
</p>

<% if @taxonomy_review_period.can_be_deleted? %>
  This review period, with start date <%= @taxonomy_review_period.start_date.strftime("%d-%b-%Y") %>, has no attached users or comments.
  <%= render 'delete_widgets' %>
<% else %>
  This review period, with start date <%= @taxonomy_review_period.start_date.strftime("%d-%b-%Y") %>, has attached users or comments, so cannot be deleted.
<% end %>
