<span class="full-name" title="Full name"><%= "#{@name.full_name}" %></span>&nbsp;
<%= link_to("#{sanitize(ShardConfig.name_space)} #{external_link_square_icon}".html_safe,
            "#{Rails.configuration.try('nsl_links')}apniFormat/display/#{@name.id}",
            title: "#{ShardConfig.name_space} search. Opens in another tab or window.",
            class: "rebeccapurple",
            target: "_editor_to_apni",
            tabindex: increment_tab_index) if @name.instances.size > 0 %>
<br>
